<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ baseAssets ~ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ baseAssets ~ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ baseAssets ~ asset('assets/css/app.min.css') }}" rel="stylesheet" />
</head>
<body class="pdf">
<div class="container">
    <div class="pdf-header row">
        <div class="col-2"><img src="{{ baseAssets ~ asset('/assets/img/logo.png') }}" alt="Gesip" /></div>
        <div class="col-10">
            <h1>{{ donnees|length }} Domaine(s)</h1>
            <small>Généré le {{ "now"|date("d/m/Y à H:i:s", "Europe/Paris") }}</small>
        </div>
    </div>

    <div class="pdf-page">
        <table class="table table-bordered mt-5 text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Domaines</th>
                <th scope="col">Nombre de composants</th>
            </tr>
            </thead>
            <tbody>
            {% for domaine in donnees %}
                {% if not domaine.id == '' %}
                    <tr>
                        <td>{{ domaine.label }}</td>
                        <td>{{ domaine.nbComposants }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="2">Aucune donnée a afficher.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
