{% extends 'base.pleine.html.twig' %}

{% block title %}Composants sans MOE ou MOA | Restitution | {{ parent() }}{% endblock %}

{% block contenu %}
    {# Header #}
    <div class="page-header">
        <h2 class="text-center">{{ donnees|length }} composant(s) sans MOE et/ou MOA</h2>
    </div>

    {# Tableau des résultats #}
    <div class="page-list">
        <div class="text-right mb-2">
            <a href="{{ app.request.uri ~ '/xlsx' }}" target="_blank" class="btn btn-sm btn-secondary">Export XLSX</a>
            <a href="{{ app.request.uri ~ '/pdf' }}" target="_blank" class="btn btn-sm btn-secondary">Export PDF</a>
        </div>
        <table id="tableau-resultats" class="table" style="font-size: .8em">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="table-tri table-tri__active">Composant</th>
                <th scope="col" class="table-tri">ESI</th>
                <th scope="col" class="table-tri">Domaine</th>
                <th scope="col" class="table-tri">Rattachement</th>
                <th scope="col" class="table-tri">Équipe CS</th>
                <th scope="col" class="table-tri">Pilote</th>
                <th scope="col" class="table-tri">Mission existante</th>
            </tr>
            </thead>
            <tbody>
            {% for composant in donnees %}
                <tr>
                    <td><a href="{{ path('restitutions-fiche', { 'type': 'composants', 'id': composant.id }) }}">{{ composant.label }}</a></td>
                    <td>
                        {% if composant.exploitant %}
                        <a href="{{ path('restitutions-fiche', { 'type': 'esi', 'id': composant.exploitant.id }) }}">{{ composant.exploitant.label }}</a>
                        {% else %}
                            Aucun ESI
                        {% endif %}
                    </td>
                    <td>
                        {% if composant.domaine %}
                        <a href="{{ path('restitutions-fiche', { 'type': 'domaines', 'id': composant.domaine.id }) }}">{{ composant.domaine.label }}</a>
                        {% else %}
                            Aucun domaine
                        {% endif %}
                    </td>
                    <td>
                        {% if composant.bureauRattachement %}
                        <a href="{{ path('restitutions-fiche', { 'type': 'bureaux-rattachement', 'id': composant.bureauRattachement.id }) }}">{{ composant.bureauRattachement.label }}</a>
                        {% else %}
                            Aucun bureau
                        {% endif %}
                    </td>
                    <td>
                        {% if composant.equipe %}
                        <a href="{{ path('restitutions-fiche', { 'type': 'equipes', 'id': composant.equipe.id }) }}">{{ composant.equipe.label }}</a>
                        {% else %}
                            Aucune équipe
                        {% endif %}
                    </td>
                    <td{% if composant.pilote %} data-tri-value="{{ composant.pilote.nom }} {{ composant.pilote.prenom }}"{% endif %}>
                        {% if composant.pilote %}
                        <a href="{{ path('restitutions-fiche', { 'type': 'pilotes', 'id': composant.pilote.id }) }}">{{ composant.pilote.nomCompletCourt }}</a>
                        {% else %}
                            Aucun pilote
                        {% endif %}
                    </td>
                    <td>
                        {% set missionsTrouvee = [] %}
                        {% for annuaire in composant.annuaire %}
                            {% if 'MOE' in annuaire.mission.label or 'MOA' in annuaire.mission.label %}
                                {% if annuaire.mission.label not in missionsTrouvee %}
                                    {% set missionsTrouvee = missionsTrouvee|merge([annuaire.mission.label]) %}
                                    <div>{{ annuaire.mission.label }}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if missionsTrouvee|length == 0 %}
                            Aucun
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune donnée a afficher.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
