<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ baseAssets ~ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ baseAssets ~ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ baseAssets ~ asset('assets/css/app.min.css') }}" rel="stylesheet" />
</head>
<body class="pdf">
<div class="container">
    <div class="pdf-header row">
        <div class="col-2"><img src="{{ baseAssets ~ asset('/assets/img/logo.png') }}" alt="Gesip" /></div>
        <div class="col-10">
            <h1>{{ donnees|length }} composant(s) dont le dernier GESIP remonte à 600 jours</h1>
            <small>Généré le {{ "now"|date("d/m/Y à H:i:s", "Europe/Paris") }}</small>
        </div>
    </div>

    <div class="pdf-page">
        <table class="table table-bordered mt-5 text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Composant</th>
                <th scope="col">Équipe CS</th>
                <th scope="col">Pilote</th>
                <th scope="col">Rattachement</th>
                <th scope="col">Dernière intervention</th>
            </tr>
            </thead>
            <tbody>
            {% for row in donnees %}
                {% set composant = row.0 %}
                <tr>
                    <td><a href="{{ path('restitutions-fiche', { 'type': 'composants', 'id': composant.id }) }}">{{ composant.label }}</a></td>
                    <td>
                        {% if composant.equipe %}
                            <a href="{{ path('restitutions-fiche', { 'type': 'equipes', 'id': composant.equipe.id }) }}">{{ composant.equipe.label }}</a>
                        {% else %}
                            Aucune équipe
                        {% endif %}
                    </td>
                    <td>
                        {% if composant.pilote %}
                            <a href="{{ path('restitutions-fiche', { 'type': 'pilotes', 'id': composant.pilote.id }) }}">{{ composant.pilote.prenom|slice(0, 1) }}. {{ composant.pilote.nom }}</a>
                        {% else %}
                            Aucun pilote
                        {% endif %}
                    </td>
                    <td>
                        {% if composant.bureauRattachement %}
                            <a href="{{ path('restitutions-fiche', { 'type': 'bureaux-rattachement', 'id': composant.bureauRattachement.id }) }}">{{ composant.bureauRattachement.label }}</a>
                        {% else %}
                            Aucun bureau
                        {% endif %}
                    </td>
                    <td>
                        {% if row.derniereDi %}
                            {{ row.derniereDi | date('d/m/Y') }}
                        {% else %}
                            Jamais
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée a afficher.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
