{% extends 'base.pleine.html.twig' %}

{% block title %}Consultation des tableaux de bord SI des composants | {{ parent() }}{% endblock %}

{% block contenu %}

    {# Formulaire de sélection #}
    <div class="meteo-filtres-container">
        {{ form_start(form, {'attr': {'class': 'choix-meteo consultation' }}) }}
        <div class="page-header">
            <h2>Consultation des tableaux de bord SI des composants</h2>
        </div>
        <div class="page-body">
            <div class="form-group row">
            <label class="col-3 col-form-label">Exploitant</label>
                <div class="col-6">
                    <select name="exploitant" id="saisie_index_exploitant" class="form-control select-picker choix-exploitant" autofocus>
                        <option value="0">Tous exploitants</option>
                        {% for serviceExploitant in listeExploitants %}
                            <option value="{{ serviceExploitant.id }}" {% if (serviceExploitant.id == exploitantSelectionne) %} selected {% endif %}>{{ serviceExploitant.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.periode, 'Période', {'label_attr': {'class': 'col-3 col-form-label' }}) }}
                <div class="col-6">
                    <div class="meteopicker" data-input="#{{ form.periode.vars.id }}" data-ajax-url="{{ path('ajax-meteo-datepicker-periodes-publiees') }}"></div>
                    {{ form_widget(form.periode, {
                        'attr': {
                            'class': 'form-control d-none periode-picker'
                        }
                    }) }}
                </div>
            </div>
        </div>
        {# Actions #}
        <div class="page-actions mt-4">
            <div class="row">
                <div class="col-2">
                    <a href="{{ path('accueil') }}" class="btn btn-secondary">Retour accueil</a>
                </div>
                <div class="col-10 text-right">
                    <button class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {# Deuxième partie #}
    <div class="meteo-composants-container" style="display: none;">
        <div class="page-header">
            <h2 class="meteo-composants-titre">Tableau de bord Météo - Semaine du <span class="periode-debut">JJ/MM</span> au <span class="periode-fin">JJ/MM/AAAA</span></h2>
        </div>
        <div class="meteo-composants-empty text-center font-weight-bold mt-2" style="display: none;">
            Aucun composant n'a été trouvé pour la sélection.
        </div>
        <div class="row meteo-composants mt-2">
        </div>
        <div class="page-actions text-center mt-4">
            <a href="#" class="btn btn-secondary btn-back">Retour</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/meteo/index.js') }}" type="application/javascript"></script>
{% endblock %}
